html{
	font-size:18px;
}

body{
	font-family:Helvetica, sans-serif;
	color:white;
}

.container{
	max-width:960px;
	margin:0 auto;
	display:flex;
	align-items:center;
}

header{
	background-color:black;
}

header img{
	height:1.5em;
	padding: 0.66rem 1rem 0.66rem 0.5rem;
}

header span{
	font-size:1rem;
}

.cover-photo{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	height:25rem;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.headline{
	background-color:black;
	font-weight:bold;
	width:20rem;
	padding:2rem 3rem;
	position:relative;
	top:9rem;
}

.headline h5{
	font-size:1rem;
	padding-bottom:0.25rem;
}

.headline h2{
	font-size:2rem;
}